@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: #1f242d;
    color: aliceblue;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 10;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s var(--i));
}

.navbar a:hover, .navbar:focus {  
z-index: 10;
 
    color: #0ef;


}
.navbar a.active {
    color: #0ef;

}
.Heading {
    display: flex;
}
.home {
    position:relative;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-img img {
    position: relative;
    top: 150px;
    left: -170px;
    height: 500px;
    background-color: #0ef;
    padding: 15px;
    border-radius: 20px;
    max-width: 450px;
}

img {
    border-radius: 50px;
}

.home-content {
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards; 
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: rgb(22, 206, 212);
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.h2 {
    font-size: 32px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}


.home-img .img {
    max-width: 450px;
    margin-right: -20px;
    margin-top: 50px;
    animation: ZoomIn 1s ease forwards, floatImaage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display:inline flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50px;
    font-size: 20px;
    color:#0ef ;
    text-decoration: none;
    margin: 30px 15px 30px;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background-color: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #030304;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s
}
 
.about{
    padding: 70px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 60px #0ef;
    border-radius: 30px;
    width: 1030px;
}

.about-content {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.skills{
    padding: 70px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 60px #0ef;
    border-radius: 30px;
    position: relative;
    top: 70px;
    width: 1020px;
       
}
.skills-content{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.skills-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.skills-names{
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}
.Education {
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 60px #0ef;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    top: 90px;
    width: 100%;
} 

.Education-content{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.BTECH{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.Achievements {
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 60px #0ef;
    border-radius: 30px;
    position: relative;
    box-sizing: auto;
    top: 150px;
    width: 100
} 
.Achievements-content{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;  
}

.footer {
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 60px #0ef;
    border-radius: 30px;
    position: relative;
    box-sizing: auto;
    top: 200px;
    width: 100
}


.Projects {
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 60px #0ef;
    border-radius: 30px;
    position: relative;
    box-sizing: auto;
    top: 120px;
    width: 100
}

.Projects-content{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;   
}
.Projects-content h1{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards; 
    animation-delay: .7s;
}
.Projects-content h1:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

@keyframes slideTop {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideleft {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes floatImaage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

    @keyframes slideRight {
        0% {
            transform: translateX(-100px);
        }
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-24px);
        }
        100% {
            transform: translateY(0);
        }
        
    }



/* Media query for mobile devices (max-width: 768px) */
@media (max-width: 768px) { 
    .home {
        flex-direction: column;
        padding: 20px 5%;
        text-align: center;
    }
    .header {
        flex-direction: column;
        padding: 10px 5px;
    }

    .navbar a {
        font-size: 20px;
        margin-left: 10px;
    }

    .home {
        flex-direction: column;
        padding: 20px 5%;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
        text-align: center;
    }

    .home-content h1 {
        font-size: 36px;
        height: 100%;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    } 

    .home-content h2 {
        font-size: 24px;
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }

    .home-content p {
        font-size: 16px;
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-img img {
        top: 0;
        left: 0;
         margin-right: 50%;
        width: 40%;
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-width: 300px;
        margin: 70px;
    }

    .about, .skills, .Education, .Achievements, .Projects, .Contact, .footer {
        width: 150%;
        padding: 20px 5%;

    }

    .about-content, .skills-content, .Education-content, .Achievements-content, .Projects-content, .Contact-content {
        font-size: 14px;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0;
        position: relative;
    }

    .btn {
        padding: 10px 20px;
    }

    .social-media a {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .skills-data {
        flex-direction: column;
    }

    .skills-names {
        font-size: 16px;
        margin-right: 0;
    }

    .logo .navbar a {
        font-size: 20px;
    }
}

